body{
    background-color: black;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navleft{
    display: flex;
}
.navleft h1{
font-style: italic;
}
.navright ul li{
    list-style: none;
    color: lightseagreen;
    font-size: 1.4rem;
    padding: 1rem;
}
.circle{
    border-radius: 100%;
    z-index: -1;
    position:absolute;
   }
   .leftabout{
    display: flex;
    align-items: center;
   }